.line {
  -webkit-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
}

@-webkit-keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
  }
}
